<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Набазар</title>
  <meta name="description" content="Набазар"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="keywords" content="" />
  <meta name="format-detection" content="telephone=no">
  <link rel= "preconnect" href="https://api-maps.yandex.ru" crossorigin="anonymous">
  <link rel="preload" href="img/load.svg" as="image" type="image/svg+xml">
  <link rel="preload" href="css/style.min.css" as="style">
  <style>.preloader__preload.no-js{display:none;}.preloader__preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 100vw;background: #227be8 url('img/load.svg') center center no-repeat;background-size:41px;}</style>
  <script src="js/vendor/lazysizes.min.js" async=""></script>
  <link rel="preload" href="fonts/futura-pt-400.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.min.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=17283a7b-72b4-484d-bfd3-e4643804a3cf&load=Map,Placemark&lang=ru_RU"></script>
</head>
