@font-face {
  font-family: "futura-pt";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/futura-pt-400.woff2") format("woff2"),
    url("../fonts/futura-pt-400.woff") format("woff");
}
