// media breakpoints

$width-desktop: 1320px;
$width-laptop: 1025px;
$width-tablet: 768px;
$big-phone: 375px;
$width-min: 320px;

// Retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;

//colors
$main-font-color: #707070;
$title-color: #343434;
$link-hover-color: #0053b9;
$note-color: #c8c8c8;
$company-color: #227be8;
$company-color-hover: #0053b9;
$input-border-color: #ededed;
$error-color: #ff4b4b;
$valid-color: #227be8;
$breadcrumbs-color: #8b8b8b;
$catalog-menu-color: #f8f8f8;

$footer-color: #a3a3a3;
$secondary-footer-color: #8f8f8f;


$menu-font-color: #343434;

$main-color: #ffffff;


$social-footer-color: #ffffff;
$social-footer-color-hover: #d9d9d9;

$red: #f26047;
$orange: #ff7532;
$purple: #6d4afd;
$turquoise: #00ddd5;
$bg-orange: #f39b13;
$bg-blue: #0f8bdd;
$bg-purple: #8d44ad;
$bg-green: #58d68c;
$light-grey: #a3a3a3;

//fonts

$main-font: "futura-pt", "Arial", sans-serif;
$second-font: "BebasNeue", "Arial", sans-serif;
